.container {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
}

.pictureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  height: 1000px;
  width: 1000px;
}
